@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');
@import url('variables.css');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--primary-bg-colour);
    display: flex;
    flex-direction: column;
    height: 98vh;
}

header {
    display: flex;
    flex-direction: column;
}

.center-text {
    text-align: center;
}

a {
    text-decoration: none !important;
    color: black;
}

.profile {
    position: absolute;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.profile #profile-icon {
    align-self: flex-end;
    margin-top: 1.5rem;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
}

.profile i {
    align-self: flex-end;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
}

.profile i:hover, #profile-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.profile-links {
    display: none;
    flex-direction: column;
}

.profile:hover .dd-menu-item {
    opacity: 1;
}

.dd-menu-item {
    opacity: 0;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-top: 1.5rem;
    transition: opacity 275ms ease;
}

.dd-menu-item span {
    user-select: none;
    align-self: center;
    margin-right: 1rem;
    display: none;
}

footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--primary-bg-colour);
}

footer a {
    position: relative;
    margin: 1rem;
}

footer a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -0.3rem;
    left: 0;
    transform: scaleX(0);
    transition: ease-in-out 0.2s;
    transform-origin: center;
}

footer a:hover::before {
    transform: scaleX(1);
}

