@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');
@import url('variables.css');

body {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--primary-bg-colour);
  
}

.input-field {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--secondary-bg-colour);
    border-radius: 15px;
    border: 2px solid var(--primary-bg-colour);
    padding: 10px; 
    width: 400px;
    height: 15px; 
    margin-bottom: 10px;   
    margin:auto;
 
}

.register {
    margin-top: 40px
}

.register, .login {
    text-align: center;
    display: flexbox;
    
}

::placeholder {
    color: black;
    opacity: 0.4;
}

.input-field:focus {
    outline: none;
}

.login-button, .register-button {
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    color: black;
    align-self: center;
    transition: background-color 0.3s ease-in-out;
    padding: 1rem;
    border-style: none; 


}

.login-button:hover, .register-button:hover {
    background-color:var(--secondary-bg-colour);
    transition: background-color 0.7s ease-out;
}

#forgot-password {
    font-size: 10px;
    position: relative;
    left: 150px;
    
}

.register-button {
    margin-top: 15px;
    margin-bottom: 35px;

}

























