@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');
@import url('variables.css');

body {
    font-family: 'Source Code Pro'; 
    background-color: var(--primary-bg-colour);
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

header {
    display: flex;
    flex-direction: column;
    
}

.center-text {
    text-align: center;
}

#cursor {
    position: absolute;
    height: 33px;
    width: 3px;
    border-radius: 20%;
    background-color: var(--caret-colour);
    will-change: transform;
    transition: transform 0.075s linear;
    z-index: 150;
}

.text-area-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 26px;
    overflow: hidden;
}

.text-area {
    display: flex;
    justify-content: space-around;
    border: 2px black solid; 
    padding: 2rem 4rem 2rem 4rem;
    margin-left: 14.75rem;
    margin-right: 14.75rem;
    min-height: 5rem;
    max-height: 132px;
    user-select: none;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text-area-container div.word {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    animation: fade-in 1s;
    color: var(--incomplete-word);
}
.complete {
    color: var(--complete-word);
}

.profile {
    position: absolute;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.profile #profile-icon {
    align-self: flex-end;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
}

.profile i {
    align-self: flex-end;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
}

.profile i:hover, #profile-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.profile-links {
    display: none;
    flex-direction: column;
}

.dd-menu-item {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin: 1.5rem 1.5rem 1.5rem auto;
}

.dd-menu-item span {
    user-select: none;
    align-self: center;
    margin-right: 1rem;
    visibility: hidden;
}

h4 {
    margin: 0 !important;
}

footer {
    display: flex;
    margin-top: auto;
    background-color: var(--secondary-bg-colour);
}

footer a {
    margin-right: 2rem;
}

footer .settings-label {
    margin-left: auto;
}

.refresh-button {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
}

.refresh-button-hover {
    background-color:rgba(184, 184, 184, 0.4);
    transition: background-color 0.7s ease-out;
}

.refresh-button-clicked {
    background-color: rgba(184, 184, 184, 1) !important;
}

#refresh-button-image {
    display: block;
    width: 50px;
    height: 50px;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin-arrow {
    animation: spin 1s ease-in-out 0s;
}

.refresh-instructions {
    user-select: none;
}


@keyframes blinking {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.blinking {
    animation: blinking 1s linear infinite;
}

.hidden {
    display: none !important;
}

.blur {
    filter: blur(4px) !important;
}

