@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro'; 
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.text-area {
    display: flex;
    justify-content: space-around;
    border: 2px black solid; 
    padding: 2rem 4rem 2rem 4rem;
    margin-left: 14.75rem;
    margin-right: 14.75rem;
    min-height: 10rem;
}

.text-area-container {
    font-family: 'Source Code Pro', 'Comic Sans MS';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 26px;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text-area-container div.word {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0.975625rem;
    text-align: center;
    animation: fade-in 1s;
    color: #8a8a8a;
}
.complete {
    color: #88FF88;
}

.profile {
    position: absolute;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.profile-icon {
    align-self: center;
    width: 60px;
    height: 60px;
}

.profile-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

